asgiref==3.8.1
Django==5.1.1
sqlparse==0.5.1
tzdata==2024.2
psycopg2-binary>=2.9
djangorestframework
markdown
django-filter
django-auth-adfs
django_extensions
django-cors-headers
azure-storage-blob
django-storages[azure]
shell
azure-monitor-opentelemetry>=1.0.0
opentelemetry-instrumentation-django>=0.46b0

